// Import Bootstrap functions, variables, mixins
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$primary-font-family: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font-family: "Aclonica";
$background-dark-color: #d5d0cc;
$background-medium-color: #f9f4f0;
$text-dark-color: #000000;
$text-light-color: #ffffff;
$sidebar-width: 12rem;
$navbar-height: 6rem;

body {
  font-family: $primary-font-family;
  font-weight: 400;
  color: $text-dark-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font-family;
  font-weight: 100;
}

.jumbotron {
  margin: 0;
  padding: 30px;
}

.navbar {
  background-color: $background-dark-color;
}

.btn {
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: $background-dark-color;
  color: $text-light-color;
}

/* For responsive card stacking */
.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-down(md) {
    column-count: 1;
  }
}

/*
*
* ==========================================
* VERTICAL NAVBAR CUSTOM UTIL CLASSES
* Adapted from: https://bootstrapious.com/p/bootstrap-vertical-navbar
* ==========================================
*
*/

.vertical-nav {
  min-width: $sidebar-width;
  width: $sidebar-width;
  height: calc(100vh - #{$navbar-height});
  position: fixed;
  top: $navbar-height;
  left: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - #{$sidebar-width});
  margin-left: $sidebar-width;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -$sidebar-width;
}

#content.active {
  width: 100%;
  margin: 0;
}

/* hide sidebar for devices smaller than md */

@include media-breakpoint-down(sm) {
  #sidebar {
    margin-left: -$sidebar-width;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
  }
}
