body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aclonica";
  font-weight: 100; }

.jumbotron {
  margin: 0;
  padding: 30px; }

.navbar {
  background-color: #d5d0cc; }

.btn {
  font-family: "Aclonica";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #d5d0cc;
  color: #ffffff; }

/* For responsive card stacking */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 2; } }

@media (max-width: 991.98px) {
  .card-columns {
    column-count: 1; } }

/* To add the caret to the collapsible menu */
.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg); }

/*for animation*/
.dropdown-toggle:after {
  transition: 0.5s; }

/*
*
* ==========================================
* VERTICAL NAVBAR CUSTOM UTIL CLASSES
* Adapted from: https://bootstrapious.com/p/bootstrap-vertical-navbar
* ==========================================
*
*/
.vertical-nav {
  min-width: 12rem;
  width: 12rem;
  height: calc(100vh - 7rem);
  position: fixed;
  top: 7rem;
  left: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s; }

.page-content {
  width: calc(100% - 12rem);
  margin-left: 12rem;
  transition: all 0.4s; }

/* for toggle behavior */
#sidebar.active {
  margin-left: -12rem; }

#content.active {
  width: 100%;
  margin: 0; }

/* hide sidebar for devices smaller than md */
@media (max-width: 767.98px) {
  #sidebar {
    margin-left: -12rem; }
  #sidebar.active {
    margin-left: 0; }
  #content {
    width: 100%;
    margin: 0; }
  #content.active {
    margin-left: 12rem;
    width: calc(100% - 12rem); } }
